.Container {
  width: 20%;
  background-color: #fffef9;
  padding-inline-start: 2%;

  position: fixed;
  top: 12%;
  left: 10px;
}

.DutyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-block: 10%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 10px;
  width: 15vw;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  resize: none;
}
textarea {
  height: 192px;
}

button {
  margin-top: 10px; /* Düğmeyi biraz yukarıda bırak */
  padding: 10px;
  background-color: #1d5d9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4290df;
}
.List {
  list-style: none;
  padding: 0;
  max-height: 20vh;
  width: 10vw;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.ListItem {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.ListItem:hover {
  background-color: #f5f5f5;
}
.SelectedEmails {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  height: 8vh;
  overflow: auto;
}

.SelectedEmail {
  background-color: #f2f2f2;
  padding: 3px 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  height: 3vh;
  cursor: pointer;
  width: 43%;
}
.SelectedEmail:hover {
  background-color: #e0e0e0; /* Change the color to your preference */
  cursor: pointer;
}
